{% extends "layout.html.twig" %}

{% block content %}
    <div class="row" >
        <a href="{{ BASE_URL }}/Hotel/creerHotel/"> Ajouter un Hotel </a>
        <table border="2">
            <caption>Recapitulatif des Hotels</caption>
            <thead>
            <tr><th>nom station</th><th>nom hotel</th><th>categorie</th><th>date construction</th><th>Nombre chambres</th><th>Nombre chambres libres</th><th>chambres</th><th>opérations</th></tr>
            </thead>
            <tbody>
            {%  if hotels is not empty %}
                {% for hotel in hotels %}
                    <tr><td>
                            {{ hotel.nomStation }}
                        </td><td>
                            {{ hotel.nomHotel }}
                        </td><td>
                            {{ hotel.categorie }}
                        </td><td>
                            {{ hotel.dateConstruction }}
                        </td><td>
                            {{ hotel.nbrChambres }}
                        </td><td>
                            {{ hotel.nbrLibres }}
                        </td><td>
                            <a> gérer les chambres </a>
                        </td>
                        <td>
                            <a href="{{ BASE_URL }}/Hotel/modifierHotel/{{ hotel.idHotel }}">modifier</a>
                            <a href="{{ BASE_URL }}/Hotel/supprimerHotel/{{ hotel.idHotel }}">supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td> pas d'hotels dans la base de données</td>
                </tr>
            {% endif %}
            <tbody>
        </table>
    </div>
{% endblock %}