<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1> <a href="">TP web</a></h1>
        </li>
        <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">

            <li class="has-dropdown"><a href="#">gestion des reservations</a>
                <ul class="dropdown">
                    <li><a href="{{ BASE_URL }}/reservation/selectClientReservations?action=rent">Reservationer des livres </a></li>
                    <li><a href="{{ BASE_URL }}/reservation/selectClientReservations?action=return">Rendre des livres </a></li>
                    <li><a href="{{ BASE_URL }}/reservation/deleteAllReservations">Supprimer des reservations</a></li>
                    <li><a href="{{ BASE_URL }}/reservation/bilanReservations">Consulter les retards</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">gestion des hotels et stations</a>
                <ul class="dropdown">
                    <li><a href="{{ BASE_URL }}/hotel/afficherHotels">Gestion des Hotels et de leurs chambres </a></li>
                    <li><a href="{{ BASE_URL }}/station/afficherStations">afficher/editer/supprimer  des stations </a></li>
                </ul>
            </li>

            <li class="has-dropdown"><a href="#">gestion des clients</a>
                <ul class="dropdown">
                    <li><a href="{{ BASE_URL }}/client/afficherClients">afficher/editer/supprimer des clients </a></li>

                </ul>
            </li>
        </ul>
        <ul class="right">
            <li><a href="#">se connecter</a></li>
        </ul>
    </section>
</nav>

