{% extends "layout.html.twig" %}


{% block content %}
    <div class="row ">
        <form method="post" action="{{ BASE_URL }}/Station/validFormCreerStation">
            <fieldset>
                <legend>Ajouter une Station</legend>

                <label>Nom
                    <input name="nomStation"  type="text"  size="18" value="{{ donnees.nomStation }}"/>
                </label>
                {% if erreurs.nomStation is defined %}
                    <small class="error">{{erreurs.nomStation}}</small>
                {% endif %}

                <label>Altitude</label>
                <input name="altitude"  type="number"  size="18" value="{{ donnees.altitude }}"/>
                {% if erreurs.altitude is defined %}
                    <small class="error">{{erreurs.altitude}}</small>
                {% endif %}

                <label>Region</label>
                <input name="region"  type="text"  size="18" value="{{ donnees.region }}"/>
                {% if erreurs.region is defined %}
                    <small class="error">{{erreurs.region}}</small>
                {% endif %}

                <input type="submit" name="validerForm" value="valider" />
            </fieldset>
        </form>
    </div>
{% endblock %}