{% extends "layout.html.twig" %}


{% block content %}

    <div class="row">
        il faut supprimer  <strong>{{ nombre }} </strong> enregistrements dans la table HOTEL avant de supprimer cette Station
        <br> (et peut être dans la table des enregistrements dans les tables CHAMBRE et RESERVATION)
        <br>

    </div>
    <a href="{{ BASE_URL }}/Station/afficherStations">annuler</a>

{% endblock %}