{% extends "layout.html.twig" %}

{% block content %}
    <div class="row" >
        <a href="{{ BASE_URL }}/Station/creerStation/"> Ajouter une Station </a>
        <table border="2">
            <caption>Recapitulatif des Stations</caption>
            <thead>
            <tr><th>nom</th><th>altitude</th><th>region</th><th>nombre d'hotel(s)</th><th>opérations</th></tr>
            </thead>
            <tbody>
            {%  if stations is not empty %}
                {% for station in stations %}
                    <tr><td>
                            {{ station.nomStation }}
                        </td><td>
                            {{ station.altitude }}
                        </td><td>
                            {{ station.region }}
                        </td><td>
                            {{ station.nbrHotel }}
                        </td>
                        <td>
                            <a href="{{ BASE_URL }}/Station/modifierStation/{{ station.idStation }}">modifier</a>
                            <a href="{{ BASE_URL }}/Station/supprimerStation/{{ station.idStation }}">supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td> pas de station dans la base de données</td>
                </tr>
            {% endif %}
            <tbody>
        </table>
    </div>
{% endblock %}