{% extends "layout.html.twig" %}


{% block content %}

    <div class="row">

        adhérent : <strong>{{ donneesClients.nomClient }}</strong>
        <form method="get" action="{{ BASE_URL }}/Reservation/selectClientReservations">
            <input type="hidden" name="action" value="rent">
            <input type="submit" name="changeClient" value="changer d'client"  style="width: 200px" />
        </form>
        <br>
        nombre d'reservation(s) :{{ nbrReservations.nbrReservation }}
        <br>


        <form method="post" action="{{ BASE_URL }}/Reservation/addReservations">
            <fieldset>
                <legend>Reservationer des livres</legend>

                adhérent : <strong>{{ donneesClients.nomClient }}</strong>
                <br>
                <!-- champ caché avec l'id pour conserver la valeur de l'id lors de la validation !-->
                <input name="idClient"  type="hidden"  size="18" value="{{ donneesClients.idClient }}"/>

                {% if nbrReservations.nbrReservation <= 5 %}
                    <label>Chambre d'une Hotel :
                        {% if donneesReservation is defined %}
                            <select name="noChambre">
                                {% for dataChambre in listeExempDispo %}
                                    <option value="{{ dataChambre.noChambre }}"  >
                                        {{ dataChambre.noChambre ~ "-" ~ dataChambre.titre ~ "-" ~ dataChambre.nomStation }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </label>
                    <label>date Reservation</label>
                    <input name="dateReservation"  type="text"  size="18" value="{{ donnees.dateReservation }}"/>


                    {% if erreurs.dateReservation is defined %}
                        <small class="error">{{erreurs.dateReservation}}</small>
                    {% endif %}

                    <input type="submit" name="AjouterReservation" value="Ajouter" />
                {% else %}
                    <span class="alert alert-danger">Le nombre d'reservations maximum est de 5</span>
                {% endif %}
            </fieldset>
        </form>


        <table border="2">
            <caption>Recapitulatifs des Reservations</caption>
            <thead>
            <tr><th>titre</th><th>date reservation</th><th>nb. Jours</th>
                <th>Chambres</th></tr>
            </thead>
            <tbody>
            {% if donneesReservation is defined %}
            {% for value in donneesReservation %}
            <tr><td>
                    {{ value.titre }}
                </td><td>
                    {{ value.dateReservation | date('d/m/Y') }}
                </td>
                </td><td>
                    {{ value.nbJoursReservation }}
                </td>
                </td><td>
                    {{ value.noChambre }}
                </td>

            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td> pas d'Reservation</td>
            </tr>
            {% endif %}
            <tbody>
        </table>
        <?php endif; ?>

        <a href="index.php">quitter</a>
    </div>

{% endblock %}