{% extends "layout.html.twig" %}


{% block content %}

    <div class="row">
        <form action="{{ BASE_URL }}/Reservation/validFormAddDeleteAllReservations" method="post" >
            <input type="submit" name="validerDeleteAll" id="valider" value="supprimer" class="button radius">
            tout sélectionner ? <input type="checkbox" onclick="toggle(this);" /><br />


            <label>Client :
                <select name="idClient"  id="idClient" onchange="self.location='{{ BASE_URL }}/Reservation/validFormAddDeleteAllReservations?idClient='+this.options[this.selectedIndex].value">
                    {% if idClient is not defined or idClient is empty %}
                    <option value="">Tous les adhérents</option>
                    {% endif %}
                    {% for donneesClient in donnees2 %}
                    <option value="{{ donneesClient.idClient }}"
                            {% if idClient is defined and idClient == donneesClient.idClient %}selected{% endif %}
                    >
                    {{ donneesClient.nomClient }}
                    </option>
                    {% endfor %}
                </select>
            </label>

            <table border="2">
                <caption>Recapitulatifs des Reservations</caption>
                {% if donnees is not empty %}
                <thead>
                <tr><th>nom Client</th><th>titre</th><th>date reservation</th><th>dateRendu</th>
                    <th>num. Ex.</th><th>nb. jours Empr.</th><th>supprimer</th></tr>
                </thead>
                <tbody>
                {% for value in donnees %}
                <tr><td>
                        {{ value.nomClient }}
                    </td><td>
                        {{ value.titre }}
                    </td><td>
                        {{ value.dateReservation | date('d/m/Y') }}
                    </td><td>
                        {% if value.dateRendu is not empty  %}{{ value.dateRendu | date('d/m/Y') }}{% endif %}
                    </td><td>
                       {{ value.noChambre }}
                    </td>
                    <td>
                       {{ value.nbJoursReservation }}
                    </td>
                    <td>
                        {% set idReservation = value.idClient ~ '_ '~value.noChambre ~ '_' ~ value.dateReservation %}
                        {#{{ idReservation }}#}
                        <input type="checkbox" name="select_reservation[]" value="{{ idReservation }}">
                    </td>
                </tr>
                <tbody>
                {% else %}
                <tr>
                    <td> pas d'Reservation dans la base de données</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </form>
    <a href="{{ BASE_URL }}/Reservation/deleteAllReservations">annuler</a>
    </div>
    <script>
        function toggle(source) {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] != source)
                    checkboxes[i].checked = source.checked;
            }
        }

    </script>


{% endblock %}