{% extends "layout.html.twig" %}

{% block content %}

    <div class="row">

        adhérent : <strong>{{ donneesClients.nomClient }}</strong>
        <form method="get" action="{{ BASE_URL }}/Reservation/selectClientReservations">
            <input type="hidden" name="action" value="return">
            <input type="submit" name="changeClient" value="changer d'client"  style="width: 200px" />
        </form>
        <br>
        nombre d'reservation(s) :{{ nbrReservations.nbrReservation }}
        <br>

        <fieldset>


                <table border="2">
                <caption>Recapitulatifs des Reservations</caption>
                {% if donneesReservation is defined %}
                    <thead>
                    <tr><th>titre</th><th>date reservation</th><th>nb. Jours</th>
                        <th>Chambres</th><th>date rendu</th><th>Rendre</th></tr>
                    </thead>
                    <tbody>
                    {% for value in donneesReservation %}
                        <tr><td>
                                {{ value.titre }}
                            </td><td>
                                {{ value.dateReservation | date('d/m/Y') }}
                            </td>
                            </td><td>
                                {{ value.nbJoursReservation }}
                            </td>
                            </td><td>
                                {{ value.noChambre }}
                            </td>
                            <form method="post" action="{{ BASE_URL }}/Reservation/returnReservations">
                                <td>
                                    <input name="dateRetour"  type="text"  size="18" value="{{ value.dateRetour | date('d/m/Y') }}"/>

                                </td>

                                <td>
                                    <input type="hidden" name="noChambre" value="{{ value.noChambre }}">
                                    <input type="hidden" name="dateReservation" value="{{ value.dateReservation }}">
                                    <input type="hidden" name="idClient" value="{{ value.idClient }}">
                                    <input type="submit" name="rendreLivre" value="rendre">
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                    <tbody>
                    </table>

                {% else %}
                    <tr>
                        <td> pas d'Reservation</td>
                    </tr>
                {% endif %}
        </fieldset>



    <a href="index.php">quitter</a>
    </div>

{% endblock %}