{% extends "layout.html.twig" %}

{% block content %}

    <div class="row">
        <fieldset>
            {% if action == "reservationer" %}
                <form method="post" action="{{ BASE_URL }}/Reservation/addReservations">
            {% else %}
                <form method="post" action="{{ BASE_URL }}/Reservation/returnReservations">
            {% endif %}
                    <h1>{{  action }} des livres</h1>
                    <fieldset>
                        <input type="hidden" name="action" value="{{ action }}">
                        <legend>Sélectionner un Adhérent : </legend>
                        <label>Client :
                            <select name="idClient">
                                {% if idClient is not defined or idClient is empty %}
                                    <option value="">Saisir un adhérent</option>
                                {% endif %}
                                {% for donneesClient in donneesClients %}
                                    <option value="{{ donneesClient.idClient }}"  >
                                        {{ donneesClient.nomClient }}
                                    </option>
                                {% endfor %}
                            </select>
                        </label>

                        {% if erreurs.idClient is defined %}
                            <small class="error">{{erreurs.idClient}}</small>
                        {% endif %}
                    </fieldset>
                    <input type="submit" name="selectAdh" value="valider" />
                </form>



        </fieldset>
                <a href="index.php">quitter</a>
    </div>

{% endblock %}