{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <form method="post" action="{{ BASE_URL }}/Client/validFormModifierClient">
            <fieldset>
                <legend>Modifier un Client</legend>


                <input name="idClient"  type="hidden" value="{{ donnees.idClient }}"/>

                <label>Nom
                    <input name="nomClient"  type="text"  size="18" value="{{ donnees.nomClient }}"/>
                </label>
                {% if erreurs.nomClient is defined %}
                    <small class="error">{{erreurs.nomClient}}</small>
                {% endif %}

                <label>Adresse</label>
                <input name="adresse"  type="text"  size="18" value="{{ donnees.adresse }}"/>
                {% if erreurs.adresse is defined %}
                    <small class="error">{{erreurs.adresse}}</small>
                {% endif %}

                <label>Telephone</label>
                <input name="telephone"  type="tel"  size="18" value="{{ donnees.telephone }}"/>
                {% if erreurs.telephone is defined %}
                    <small class="error">{{erreurs.telephone}}</small>
                {% endif %}

                <label>Date de naissance</label>
                <input name="dateNaissance"  type="text"  size="18" value="{{ donnees.dateNaissance }}"/>
                {% if erreurs.dateNaissance is defined %}
                    <small class="error">{{erreurs.dateNaissance}}</small>
                {% endif %}

                <input type="submit" name="validerForm" value="valider" />
            </fieldset>
        </form>
    </div>

    <br>

{% endblock %}