{% extends "layout.html.twig" %}


{% block content %}

    <div class="row">
        il faut supprimer  <strong>{{ nombre }} </strong> enregistrements dans la table RESERVATION avant de supprimer ce client
        <br>
    </div>
    <a href="{{ BASE_URL }}/Client/afficherClients">annuler</a>

{% endblock %}