{% extends "layout.html.twig" %}

{% block content %}
    <div class="row" >
        <a href="{{ BASE_URL }}/Client/creerClient/"> Ajouter un Client </a>
        <table border="2">
            <caption>Recapitulatif des Clients</caption>
            <thead>
            <tr><th>nom</th><th>adresse</th><th>telephone</th><th>date de naissance</th><th>informations</th><th>opérations</th></tr>
            </thead>
            <tbody>
            {%  if clients is not empty %}
                {% for client in clients %}
                    <tr><td>
                            {{ client.nomClient }}
                        </td><td>
                            {{ client.adresse }}
                        </td><td>
                            {{ client.telephone }}
                        </td><td>
                            {{ client.dateNaissance }}
                        </td><td>
                            {% if client.nbrReserv > 0 and client.terminee %} <span style="background-color: yellowgreen"> {{ client.nbrReserv }} reservation(s) terminée</span><br>{% endif %}
                            {% if client.nbrReserv > 0 and client.future %} <span style="background-color: red"> {{ client.nbrReserv }} reservation(s) future</span><br>{% endif %}
                            {% if client.nbrReserv > 0 and client.enCours %} <span style="background-color: orange"> {{ client.nbrReserv }} reservation(s) enCours</span><br>{% endif %}
                        </td>
                        <td>
                            <a href="{{ BASE_URL }}/Client/modifierClient/{{ client.idClient }}">modifier</a>
                            <a href="{{ BASE_URL }}/Client/supprimerClient/{{ client.idClient }}">supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td> pas de client dans la base de données</td>
                </tr>
            {% endif %}
            <tbody>
        </table>
    </div>
{% endblock %}